#movies img, #movie img{
  width: 100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height: 240px;
  }
}

body {
    background-color: rgba(0,0,0,.9);
}

h5 {
	color: #bac6d2;
}

.jumbotron {
	color:ffffff;
}

h3 {
	color: #bac6d2;
}

h2 {
	color: #bac6d2;
}

.well {
	color: #bac6d2;
}

.list-group {
	color: #000000e6;
}